__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
client_secret_*.json
db.sqlite3
*.log
venv/
.env
.idea/
.vscode/

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Documentation folders
doc/
docs/